:root{
    --primary: #343a40;
    --secondary: white;
}
header {
    padding: 20px 35px;
    background: rgb(5,5,5);
background: linear-gradient(270deg, rgba(5,5,5,1) 10%, rgba(71,71,71,1) 69%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
}
header h1 {
    font-weight: bold;
    color: var(--secondary);
    margin: 0;
    }

footer {
    width: 100%;
    padding: 40px 35px;
    
    
    
}

section {
    padding: 50px;
}

.header-text{
    font-size: 3rem;
}

#search-form h2{
    font-weight: bold;
}

/* button gradient transition */

.search-btn{
    font-weight: bold;
    padding: .75rem 3rem;
    border-radius: 30px;
    border: 1px solid rgb(49, 43, 43);
    position: relative;
    z-index: 1;
    background: rgb(14,0,168);
    background: linear-gradient(180deg, rgba(14,0,168,1) 13%, rgba(41,34,184,1) 43%, rgba(83,101,218,1) 95%);
    color: white;
    cursor: pointer;
}

.search-btn::after{
    content: "";
    position: absolute;
    border-radius: 30px;
    z-index: 2;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(14,0,168);
    transition: opacity 0.25s ease-in-out;
}

.search-btn:hover::after{
    opacity: 1;
}

.search-btn-text{
    position: relative;
    z-index: 3;
}


/* info boxes */

.info {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nameInfo {
    margin: 20px;
    border-radius: 15px;
    background: var(--primary);
    color: var(--secondary);
    flex: 1;
}
.nameStats {
    padding: 25px;
    line-height: 1.3;
}
.nameStats h3 {
    font-size: 28px;
    font-weight: bold;
}
.nameStats p {
    font-size: 18px;
}

.dog-pic{
    min-height: 22vh;
}

.your-dog{
    font-weight: bold;
}

.flex-row {
    display: flex;
}

.width-100{
    width: 100%;
}

.prim-color{
    background: var(--primary);
}

.sec-color{
    color: var(--secondary);
}

/* media queries */

@media only screen and (max-width: 550px) {
    .header-text{
        text-align: center;
    }
}